<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhx.blog.mapper.file.FileChunkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jinhx.blog.entity.file.FileChunk">
        <id column="id" property="fillChunkId" />
        <result column="file_md5" property="fileMd5" />
        <result column="upload_url" property="uploadUrl" />
        <result column="upload_status" property="uploadStatus" />
        <result column="chunk_number" property="chunkNumber" />
        <result column="creater_id" property="createrId" />
        <result column="updater_id" property="updaterId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 查询所有结果列 -->
    <sql id="AllColumn">
        id,file_md5,upload_url,chunk_number,creater_id,updater_id,create_time,update_time
    </sql>

</mapper>
