<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhx.blog.mapper.sys.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jinhx.blog.entity.sys.SysUser">
        <id column="sys_user_id" property="sysUserId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="status" property="status" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="salt" property="salt" />
        <result column="nickname" property="nickname" />
        <result column="profile" property="profile" />
        <result column="creater_id" property="createrId" />
        <result column="cupdater_id" property="updaterId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 查询所有结果列 -->
    <sql id="AllColumn">
        id, username, password, status, mobile,email,salt,nickname,profile,creater_id,updater_id,create_time,update_time
    </sql>

    <select id="selectAllPermsBySysUserId" resultType="java.lang.String">
        select sm.perms from sys_user_role sur
          left join sys_role_menu srm on sur.sys_role_id=srm.sys_role_id
          left join sys_menu sm on srm.sys_menu_id = sm.sys_menu_id
        where sur.sys_user_id = #{sysUserId}
    </select>

    <select id="selectSysMenuIdsBySysUserId" resultType="java.lang.Long">
		select distinct rm.sys_menu_id from sys_user_role ur
			LEFT JOIN sys_role_menu rm on ur.sys_role_id = rm.sys_role_id
		where ur.sys_user_id = #{sysUserId}
	</select>

</mapper>
