<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhx.blog.mapper.operation.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jinhx.blog.entity.operation.Tag">
        <id column="id" property="tagId" />
        <result column="name" property="name" />
        <result column="module" property="module" />
        <result column="creater_id" property="createrId" />
        <result column="updater_id" property="updaterId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 查询所有结果列 -->
    <sql id="AllColumn">
        id, name, module,creater_id,updater_id,create_time,update_time
    </sql>

    <!-- *************************** portal ****************************** -->

    <select id="selectTagVOsByArticle" resultType="com.jinhx.blog.entity.operation.vo.TagVO">
        select t.name, sum(t.num) as linkNum
        from (
                 select distinct t.module,
                                 t.name,
                                 (select count(*)
                                  from tag_link tl2
                                           inner join article a on a.id = tl2.link_id
                                  where a.publish = true
                                    and tl2.module = #{module}
                                    and tl2.tag_id = t.id) as num
                 from tag t
                          left join tag_link tl on t.id = tl.tag_id and t.module = tl.module
                 where t.module = #{module}) t
        group by t.name
        order by linkNum desc
    </select>

    <select id="selectTagVOsByVideo" resultType="com.jinhx.blog.entity.operation.vo.TagVO">
        select t.name, sum(t.num) as linkNum
        from (
                 select distinct t.module,
                                 t.name,
                                 (select count(*)
                                  from tag_link tl2
                                           inner join video a on a.id = tl2.link_id
                                  where a.publish = true
                                    and tl2.module = #{module}
                                    and tl2.tag_id = t.id) as num
                 from tag t
                          left join tag_link tl on t.id = tl.tag_id and t.module = tl.module
                 where t.module = #{module}) t
        group by t.name
        order by linkNum desc
    </select>

</mapper>
